@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #9b59b6;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.display {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    flex-wrap: wrap;
    width: 400px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.display h2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.drum-pad {
    border: 2px solid #333;
    border-radius: 4px;
    background-color: #9b59b6;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    height: 100px;
    width: 100px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.drum-pad.active {
    opacity: 0.8;
    transform: scale(0.98);
}